#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.landing-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-landing {
  height: 40rem;
  width: 40rem;
}

.landing-text {
  display: flex;
  width: 41.5625rem;
  height: 17.01025rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.landing-text {
  font-family: Space Mono;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.landing-text h1 {
  color: #F0F0F0;
  font-family: Space Mono;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.landing-text h3 {
  color: #F0F0F0;
  font-size: 1.5rem;
}

.landing-text span {
  color: #13B6A7;
}